{% extends 'admin/base_site.html' %}
{% block content %}
<h1>THỐNG KÊ THÔNG TIN CÁC HÀNH TRÌNH</h1>
<!--<h2>Số lượng hành trình: {{ trip_count }}</h2>-->
<ul>
{% for c in trip_stats %}
<li><strong>{{ c.title }}</strong> có {{ c.c }} lượt xem </li>
{% endfor %}
</ul>

<div style="width: 50%">
     <canvas id="myChart"></canvas>
</div>

<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>

<script>

     let labels = [];
     let data = [];
     {% for c in trip_stats %}
          labels.push('{{c.title}}')
          data.push({{c.c}})
     {% endfor %}

    window.onload = function() {
    const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: labels,
      datasets: [{
        label: 'Số lượng lượt xem',
        data: data,
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });
    }

</script>
{% endblock %}